@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap");

body {
  font-family: "Source Serif Pro", serif;
}

.form-control {
  border-radius: 6px;
}

.side-bar-container {
  height: 100%;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightgrey;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 80px;
}

.side-bar-container * {
  margin: 15px;
}

.btn-outline-dark {
  background: white;
}

.main-container {
  margin-left: 220px;
  margin-top: 40px;
  margin-right: 40px;
}

.swatch-container {
  height: 200px;
  width: 175px;
  border-radius: 10px;
  border: 1px solid rgb(234, 234, 234);
  margin: 20px;
  margin-left: 0px;
}

.swatch-detail-hero {
  height: 700px;
  
  border: 1px solid rgb(234, 234, 234);
  border-radius: 10px;
}

.swatch-detail-hero p {
  padding: 40px;
  font-size: 50px;
}

.swatch-detail-sample-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.swatch-color {
  height: 80%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.swatch-container p {
  color: grey;
  margin-left: 20px;
  margin-top: 10px;
}

.main-grid-container {
  display: flex;
  flex-wrap: wrap;
}

.page-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.page-link {
  border: 1px solid transparent;
  color: grey;
}

.page-link:hover {
  background: transparent;
  border: 1px solid grey;
  color: black;
}

.page-link:focus, .page-link:active {
  outline: 0;
  outline-style: none;
  box-shadow: none;
}


.swatch-container:hover {
  -webkit-box-shadow: 5px 5px 0px 0px #d9d9d9;
  box-shadow: 5px 5px 0px 0px #cfcfcf;
  cursor: pointer;
}

.active a{
  background: transparent !important;
  border: transparent !important;
  color: black !important;
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
}